[app]
host=
port=
env=

[log]
level=
path=
filename=

[database]
debug=
host=
port=
username=
password=
dbname=

[jwt]
secret=
expires_in_hours=
refresh_secret=
refresh_expires_in_days=

[redis]
host=
port=
password=
db=

[oauth2.providers.github]
client_id=
client_secret=
auth_url="https://github.com/login/oauth/authorize"
token_url="https://github.com/login/oauth/access_token"
redirect_url="http://localhost:3000/api/v1/auth/github/callback"
scopes=["user:email"]

[oauth2.providers.google]
client_id=
client_secret=
auth_url="https://accounts.google.com/o/oauth2/v2/auth"
token_url="https://oauth2.googleapis.com/token"
redirect_url="http://localhost:3000/api/v1/auth/google/callback"
scopes=["openid", "profile", "email"]
