[app]
host=
port=
env=

[log]
level=
path=
filename=

[database]
debug=
host=
port=
username=
password=
dbname=

[jwt]
secret=
expires_in_hours=
refresh_secret=
refresh_expires_in_days=

[redis]
host=
port=
password=
db=
